.dropdown {
  position: relative;
  display: inline-block;
  width: 80%;
  left:10%;
}
.dropdown button {
  width:100%;
  padding: 10px;
}

.dropdown ul {
  position: absolute;
  top: 100%;
  width: 100%;
  display: none;
}
.dropdown li {
  list-style: none;
}
.dropdown a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: black;
}
.dropdown.is-active ul {
  display: block;
  border: lightgrey solid 1px;
  border-radius: 10px;
}
.dropdown a:hover {
  background-color: lightcoral;
}
