header{
    font-size: $header-size;
    background-color: $header-color;
    font-family: $letter-style;
    padding:20px;
    margin-bottom: 10px;
    .header{
        margin:10px 10%;
        text-align: center;
    }

}