* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

@import "variables";
@import "header";
@import "body";
@import "dropdown";
@import "collapse";
@import "modal";
@import "button";
@import "footer";
@import "breakpoints";
@import "layout"
